:root {
	--base-red:#880000;
	--medium: #CCCCCC;	

	--background-color: black;
	--ion-background-color-rgb: 255,255,255;
	--ion-item-background: #550000;
	--ion-item-icon-color: white;
	--stroke: white;

	--core-header-toolbar-background: linear-gradient(140deg, rgba(77,2,2,1) 0%, rgba(255,4,0,1) 35%, rgba(255,51,0,1) 100%);
	--core-tabs-background: var(--base-red);
	--core-tab-color-active: white;
	--core-bottom-tabs-background: var(--base-red);
	--core-bottom-tabs-color: var(--medium);


	--text-color: var(--medium);
	--ion-text-color: white;
  	--ion-text-color-rgb: 0, 150, 0;
	--primary: white;
	
	--activity-40-collaboration: #ff0000;
	--primary-tint: orangered;
	--ion-color-primary-tint: pink;

	--core-search-box-background: white;
	--core-input-background: white;
	--ion-searchbar-color: white;
		
	--addon-calendar-blank-day-background-color: darkslategray;

}

ion-searchbar .searchbar-input{
background: white !important;
}

core-format-text {
color: white;
}

ion-button.button.button-clear {
    --color: #fefefe;
    --ion-color-primary: #0000fe;
}

addon-calendar-calendar{
	--contrast-background: blue;
	--background-alternative: blue;
}

ion-card{
	--ion-card-background:#fff;
	--ion-card-border-width: var(--card-border-width);
	--ion-card-radius: var(--card-radius);
	--ion-text-color:#000;
}

ion-card.sc-ion-label-md{
	color:darkslategrey;
}

ion-card.item-dimmed {
    opacity: 0.7;
    --background: red;
}

ion-card.item-dimmed.activity-description-availabilityinfo{
    background: darkslategrey;
}
